
body {
  padding-top: 75px;
  padding-bottom: 60px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: aliceblue;
}

form{
  margin-top: 20px;
}

.quiz-container {
  width: 80%;
  margin-top: 80;
}

.d-flex{
  margin-left: 400px;
  width: 1300px;
}
  
.quiz-container h1 {
  margin-left: 330px;
}

hr{
  width: 800px;
  margin-left: 320px
}
  
.question {
  width:45%;
  margin-bottom: 20px;
  background-color: #fff;
  padding:20px;
}

.question:nth-child(odd){
  margin-right:5%;
}

.question p{
  font-weight: bold;
  text-align: center;
}
  
.answers {
  margin-bottom: 20px;
}

.answers label:not(:first-child){
  border-top:1px solid #e0e0e0;
}
  
label {
  padding:10px 0;
  display: block;
  margin-bottom: 10px;
}
  
input[type="radio"] {
  margin-right: 10px;
}

#buttons {
  width: 350px;
  height: 50px;
  border: 1px solid #3C0680;
  background: #3C0680;
  text-align: center;
  color: #fff;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  font-size: 20px;
  margin-left: 540px;
  margin-top: 20px;
}
  
.result {
  font-weight: bold;
  font-size: 22px;
  margin-top: 20px;
  padding: 30px;
  border-radius: 5px;
}

#myDIV{
  text-align: center;
  margin-left: 300px;
}

#bar_down {
  background-color: #4B08A1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  width: 100%;
  top: 95%;
  position: fixed;
  left: 0;
}

#bar_down ul {
  text-align: center;
  background-color: #4B08A1;
  width: 100%;
  padding: 0px;
}

#bar_down li {
  display: inline-block;
}

#bar_down li a,
#menu li span {
  padding: 0em 1.5em;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;

}

#bar_down li a {
  color: rgb(255, 255, 255);
  background-color: #4B08A1;
}

#bar_up {
  background-color: #3C0680;
  color: #3C0680;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  top: 0;
  position: fixed;
  left: 0;
}

#menu {
  font-size: 20px;
  background-color: #3C0680;
}

#menu ul {
  text-align: center;
  float: top;
  background-color: #3C0680;
}

#menu li {
  display: inline-block;
}

#menu li a {
  display: inline-block;
  padding: 0em 1.5em;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: #3C0680;
}